body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
    background-color:oldlace;
}
.logo{
    text-align: center;
    margin-bottom: 0px;
}
#rule_container{
  position: relative;
}
.infoscript{
    text-align: left;
    font-size: 18px;
    padding-top: 20px;
    margin-left: 20%;
}
.slidebox{
  display: flex;
  position: absolute; top: 40%; left: 60%;
}
.slide-pic-list{
  padding: 0;
  /* display: table-cell; */
  font-size: 0;
}
.slide-image{
    opacity: 0;
    width:  0%;
    height: 0%;
    object-fit: cover;
    -webkit-animation: anime 10s 0s infinite;
    animation: anime 9s 0s infinite;
  }
  .slide-image:nth-of-type(2) {
    -webkit-animation-delay: 2.5s;
    animation-delay: 3s;
  }
  .slide-image:nth-of-type(3) {
    -webkit-animation-delay: 5s;
    animation-delay: 6s;
  }
  @keyframes anime {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    35% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      z-index: 9;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes anime {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    35% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      z-index: 9;
    }
    100% {
      opacity: 0;
    }
  }

#line-up_container{
    margin-top: 80px;
}
#movie1_container{
    background-color:lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
}
.movie_info{
    padding-left: 5%;
    font-size: 18px;
    margin: 0%;
}
.movie_title{
    font-size: 24px;
    font-weight: bold;
    margin: 0%;
}
#movie2_container{
    background-color:snow;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
}
#movie3_container{
    background-color:lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
}
#game_container{
    margin-top: 40px;
}
.readyscript{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

#fukidashi{
    position: relative ;
    margin-left: 5%;
    width: 70%;
}
#arrow_box{
    /* padding-left: 10%; */
    width: 70%;
    position: absolute; top: 20%; left: 5%;
    /* transform: translate(-50%,0%); */
    font-size: 20px;
    text-align: left;
    /* margin-right: 60%; */
}
#charactervoice{
    display: flex;
    width: 100%;
    justify-content: center;
}
#fukidashi_img{
    width: 100%;
}
#statement1{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 0px;
}
#selection_container{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 150px;
}
.newgame_button{
    margin: 0 auto;
    margin-bottom: 40px;
    width: 1000px;
    height: 150px;
    background-color:seashell;
    box-shadow: 0 10px 0 #aaaaaa;
    transition: 0.1s;
    border-color:grey;
    cursor: pointer;
      }
      
.newgame_button:hover {
    transform: translateY(3px);
    text-decoration: none;
    box-shadow: 0 2px 0 #aaaaaa;
      }
.moviebutton{
    border: 0;
    padding: 0;
    background-color:cornsilk;
    box-shadow: 0 5px 0 #aaaaaa;
    transition: 0.1s;
    cursor: pointer;
      }
.moviebutton:hover {
    transform: translateY(3px);
    text-decoration: none;
    box-shadow: 0 2px 0 #aaaaaa;
      }
.popup {
    display: none;
    height: 100vh;
    width: 100%;
    background:dimgrey;
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0;
    }
.content{
    position: relative;
    background:wheat;
    padding: 30px;
    width: 60%;
    height: 200px;
    font-size: 20px;
    font-weight: bold;
    float: left;
    }
.show {
    display: flex;
    justify-content: center;
    align-items: center;
      }
#grade{
    font-size: 20px;
    font-weight: bold;
}
.great{
    color: darkred;
}
.normal{
    color:seagreen;
}
.bad{
    color: darkblue;
}
#character_popup{
    position: absolute; top:40%; left:80%;
    }
#close{
    border: 0;
    padding: 0;
    width: 50px;
    height: 30px;
    background-color:cornsilk;
    box-shadow: 0 3px 0 #aaaaaa;
    transition: 0.1s;
    cursor: pointer;
    font-size: 16px;
    }
#close:hover {
    transform: translateY(3px);
    text-decoration: none;
    box-shadow: 0 2px 0 #aaaaaa;
      }
.footer{
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    font-size: 16px;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
    }